sandbox-codebase/flows/Case_Screenflow_Start_Opt_In_SMS_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <description>Using a screenflow in lieu of Case Quick Action, in order to update both the case and patient&apos;s journey status
https://basecamp.com/2583453/projects/19794483/todos/515175229</description>
    <environments>Default</environments>
    <interviewLabel>(Case) Screenflow: Start Opt In SMS Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(Case) Screenflow: Start Opt In SMS Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <description>Using screenflow in lieu of Case Quick Action due to contact email address restrictions</description>
        <name>Update_Case_To_Start_Opt_In_Process</name>
        <label>Update Case To Start Opt In Process</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Patient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SMS_Journey_Launched__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Patient</name>
        <label>Update Patient</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_Success_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Account.PersonContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SMS_Journey_Status__c</field>
            <value>
                <stringValue>Pending Opt Status</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Screen_Success_Message</name>
        <label>Screen: Success Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayText_Success</name>
            <fieldText>&lt;p&gt;You&apos;ve launched the SMS Opt-In Process!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Case_To_Start_Opt_In_Process</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
