sandbox-codebase/flows/Clean_Up_Statuses.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_the_Study_Success_Decision_Date</name>
        <label>Assign the Study Success Decision Date</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>$Record.Study_Billable_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Billable</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Patient_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Was_the_Study_Successful</name>
        <label>Was the Study Successful?</label>
        <locationX>446</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Successful</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Study_Success_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_Study_Success_Decision_Date</targetReference>
            </connector>
            <label>Successful</label>
        </rules>
        <rules>
            <name>Unsuccessful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Study_Success_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unsuccessful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provider_Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PAR - Richmond</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Study_Billable_Status</targetReference>
            </connector>
            <label>Unsuccessful</label>
        </rules>
        <rules>
            <name>Study_Not_Attempted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Study_Success_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Study not attempted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Order_Status</targetReference>
            </connector>
            <label>Study Not Attempted</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TodayDataNOW</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Clean Up Statuses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clean Up Statuses</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Close_on_pod_return</name>
        <label>Close on pod return</label>
        <locationX>446</locationX>
        <locationY>876</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>null__NotFound</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>null__NotFound</field>
            <operator>NotEqualTo</operator>
        </filters>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Order_Status</name>
        <label>Copy 1 of Update Order Status</label>
        <locationX>578</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>Update_Study_Billable_Status</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Patient_Order__c__NotFound</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billable_Decision_Date__c</field>
            <value>
                <elementReference>TodayDataNOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billable_Status__c</field>
            <value>
                <stringValue>Unbillable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Study_Billable_Status</name>
        <label>Set Study Billable Status</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>Set_Unbillable_Status</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>null__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Post-ship: Patient Refusal</stringValue>
            </value>
        </filters>
        <filters>
            <field>null__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Post-Ship: Patient Unresponsive</stringValue>
            </value>
        </filters>
        <filters>
            <field>null__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contraindicated</stringValue>
            </value>
        </filters>
        <filters>
            <field>null__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Data Quality: Short recording Patient</stringValue>
            </value>
        </filters>
        <filters>
            <field>null__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provider error: post-ship</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <stringValue>Billable</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Unbillable_Status</name>
        <label>Set Unbillable Status</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Update_Study_Complete</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>null__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Patient Refusal: Pre-ship</stringValue>
            </value>
        </filters>
        <filters>
            <field>null__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transit issue (Lost, Undeliverable, etc)</stringValue>
            </value>
        </filters>
        <filters>
            <field>null__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Data Quality: Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>null__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Patient Refusal: Pre-ship</stringValue>
            </value>
        </filters>
        <filters>
            <field>null__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-ship: Provider Error</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <stringValue>Unbillable</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Patient_Order</name>
        <label>Update Case(Patient Order)</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Update_Study_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Patient_Order__c__NotFound</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billable_Decision_Date__c</field>
            <value>
                <elementReference>TodayDataNOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billable_Status__c</field>
            <value>
                <stringValue>Billable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Study_Billable_Status</name>
        <label>Update Study Billable Status to Billable</label>
        <locationX>578</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Update_Study_Billable_Status_to_Unbillable</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>null__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Post-Ship: Patient Unresponsive</stringValue>
            </value>
        </filters>
        <filters>
            <field>null__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Post-ship: Patient Refusal</stringValue>
            </value>
        </filters>
        <filters>
            <field>null__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contraindicated</stringValue>
            </value>
        </filters>
        <filters>
            <field>null__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Data Quality: Short recording Patient</stringValue>
            </value>
        </filters>
        <filters>
            <field>null__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provider error: post-ship</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <stringValue>Billable</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Study_Billable_Status_to_Unbillable</name>
        <label>Update Study Billable Status to Unbillable</label>
        <locationX>578</locationX>
        <locationY>576</locationY>
        <connector>
            <targetReference>Update_Study_Complete</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>null__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-ship: Patient Unresponsive</stringValue>
            </value>
        </filters>
        <filters>
            <field>null__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Data Quality: Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>null__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Patient Refusal: Pre-ship</stringValue>
            </value>
        </filters>
        <filters>
            <field>null__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transit issue (Lost, Undeliverable, etc)</stringValue>
            </value>
        </filters>
        <filters>
            <field>null__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-ship: Provider Error</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <stringValue>Unbillable</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Study_Complete</name>
        <label>Pod not returned to True</label>
        <locationX>446</locationX>
        <locationY>768</locationY>
        <connector>
            <targetReference>Close_on_pod_return</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>null__NotFound</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>null__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Study_Status</name>
        <label>Update Study Status</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <connector>
            <targetReference>Update_Study_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>null__NotFound</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>null__NotFound</field>
            <operator>NotEqualTo</operator>
        </filters>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_the_Study_Successful</targetReference>
        </connector>
        <schedule>
            <frequency>Once</frequency>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <description>Holds the Study Success Decision Date of the Study to assign the same date to the Billable Decision Date for the Order</description>
        <name>StudySuccessDecisionDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
