sandbox-codebase/flows/Mogli_Question_Response_Outgoing_Update_Related_Patient_or_Study_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <decisions>
        <name>Decision_Found_24_Hr_Address_Verification_Template</name>
        <label>Decision: Found 24 Hr Address Verification Template?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome: No Template</defaultConnectorLabel>
        <rules>
            <name>Outcome_Yes_Found_Template</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_24_Hour_Address_Verification_Template</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_24_HR_Address_Verification_SMS</targetReference>
            </connector>
            <label>Outcome: Yes, Found Template</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Initial_Address_Verification</name>
        <label>Decision: Initial Address Verification?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_Yes_Initial_Address_Verification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mogli_SMS__QuestionTemplate__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Initial Address Confirmation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_24_Hour_Address_Verification_Template</targetReference>
            </connector>
            <label>Outcome: Yes, Initial Address Verification</label>
        </rules>
    </decisions>
    <decisions>
        <description>Discerns which question template was used</description>
        <name>Decision_Which_Question_Template</name>
        <label>Decision: Which Question Template?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1A_Address_Confirmation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mogli_SMS__QuestionTemplate__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1A. Initial Address Confirmation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Study_with_Address_Confirmation_Attempt_DateTime</targetReference>
            </connector>
            <label>1A Address Confirmation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contact_related_to_SMS_Questions_Message</name>
        <label>Is Contact related to SMS Questions Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome: Questions is Unrelated to a Contact record</defaultConnectorLabel>
        <rules>
            <name>Questions_Is_Related_to_Contact_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mogli_SMS__Mogli_Question__r.Mogli_SMS__Contact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Which_Question_Template</targetReference>
            </connector>
            <label>Questions Is Related to Contact Record</label>
        </rules>
    </decisions>
    <description>Handles Outgoing Mogli SMS to timestamp attempts of outreach</description>
    <environments>Default</environments>
    <interviewLabel>(Mogli Question Response Outgoing) Update Related Patient or Study Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(Mogli Question Response Outgoing) Update Related Patient or Study Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Send_24_HR_Address_Verification_SMS</name>
        <label>Send 24 HR Address Verification SMS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Study_with_24_HR_Follow_Up_Address_Confirmation_Attempt_DateTime</targetReference>
        </connector>
        <inputAssignments>
            <field>Mogli_SMS__Contact__c</field>
            <value>
                <elementReference>$Record.Mogli_SMS__Mogli_Question__r.Mogli_SMS__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__Direction__c</field>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__Gateway__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__Message__c</field>
            <value>
                <elementReference>Get_24_Hour_Address_Verification_Template.Mogli_SMS__Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__Mogli_Template__c</field>
            <value>
                <elementReference>Get_24_Hour_Address_Verification_Template.Mogli_SMS__Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__Phone_Number__c</field>
            <value>
                <elementReference>$Record.Mogli_SMS__Mogli_Question__r.Mogli_SMS__Contact__r.Mogli_SMS__Mogli_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__Status__c</field>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </inputAssignments>
        <object>Mogli_SMS__SMS__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_24_Hour_Address_Verification_Template</name>
        <label>Get 24 Hour Address Verification Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Found_24_Hr_Address_Verification_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Mogli_SMS__Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>24 Hour Address Verification Follow Up</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Mogli_SMS__SMS_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Study_with_24_HR_Follow_Up_Address_Confirmation_Attempt_DateTime</name>
        <label>Update Study with 24 HR Follow Up Address Confirmation Attempt DateTime</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Patient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Mogli_SMS__Mogli_Question__r.Mogli_SMS__Contact__r.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Address_Confirmation_Attempt__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Study__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Study_with_Address_Confirmation_Attempt_DateTime</name>
        <label>Update Study with Address Confirmation Attempt DateTime</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Patient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Mogli_SMS__Mogli_Question__r.Mogli_SMS__Contact__r.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Address_Confirmation_Attempt__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Study__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Contact_related_to_SMS_Questions_Message</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Mogli_SMS__Mogli_Question__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Mogli_SMS__Mogli_Response__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Question_Template_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Initial Address Confirmation</stringValue>
            </value>
        </filters>
        <object>Mogli_SMS__QuestionResponse__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X24_Hour_Address_Verification_Follow_Up</name>
            <connector>
                <targetReference>Decision_Initial_Address_Verification</targetReference>
            </connector>
            <label>24 Hour Address Verification Follow-Up</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
