sandbox-codebase/flows/Mogli_SMS__Screen_GenAI_Convo_Summarization.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Using the recordId, get key information about the object</description>
        <name>Pull_object_details</name>
        <label>Pull object details</label>
        <locationX>2228</locationX>
        <locationY>134</locationY>
        <actionName>Mogli_SMS__IntegratedObjectUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_Record_is_an_integrated_object</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ERROR_Record_is_not_an_Mogli_Integrated_Object</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Mogli_SMS__IntegratedObjectUtility</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>v_objectName</assignToReference>
            <name>ObjectName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>v_MIOcheckSuccess</assignToReference>
            <name>SuccessFlag</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>ERROR_Record_is_not_an_Mogli_Integrated_Object</name>
        <label>ERROR - Record is not an Mogli Integrated Object</label>
        <locationX>2690</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>MogliFlowDebug</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR - Record is not an Mogli Integrated Object</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>End_Flow_Failure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ERROR_Summarization_Failed</name>
        <label>ERROR - Summarization Failed</label>
        <locationX>1898</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>MogliFlowDebug</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>v_GenAISummary_Debug</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>End_Flow_Failure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ERROR_Unable_to_load_GenAI_parameters</name>
        <label>ERROR - Unable to load GenAI parameters</label>
        <locationX>2162</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>MogliFlowDebug</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR - Unable to load GenAI parameters</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>End_Flow_Failure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Unexpected_Object</name>
        <label>Error - Unexpected Object</label>
        <locationX>1634</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>MogliFlowDebug</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error - Missing Decision Branch for this object. Pls update flow.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_Flow_Failure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stamp_Contact_Record_Info</name>
        <label>Stamp Contact Record Info</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>v_ContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stamp_Lead_Record_Info</name>
        <label>Stamp Lead Record Info</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>v_LeadID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>End_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stamp_Opportunity_Record_Info</name>
        <label>Stamp Opportunity Record Info</label>
        <locationX>1106</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>v_OppID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>End_Flow</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>c_DetailedMode</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </constants>
    <decisions>
        <name>Check_if_GenAI_Parameter_Record_is_found</name>
        <label>Check if GenAI Parameter Record is found</label>
        <locationX>1766</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>ERROR_Unable_to_load_GenAI_parameters</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing GenAI Param</defaultConnectorLabel>
        <rules>
            <name>Found_GenAI_Param</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Load_Gen_AI_Parameters</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Summary_Window</targetReference>
            </connector>
            <label>Found GenAI Param</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_GenAI_Summary_was_Successful</name>
        <label>Check if GenAI Summary was Successful</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>ERROR_Summarization_Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Summarization Failed</defaultConnectorLabel>
        <rules>
            <name>Summarization_Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_GenAISummary_Success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Summary</targetReference>
            </connector>
            <label>Summarization Successful</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Record_is_an_integrated_object</name>
        <label>Check if Record is an integrated object</label>
        <locationX>2228</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>ERROR_Record_is_not_an_Mogli_Integrated_Object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Integrated</defaultConnectorLabel>
        <rules>
            <name>Integrated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_MIOcheckSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Load_Gen_AI_Parameters</targetReference>
            </connector>
            <label>Integrated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Object_Type</name>
        <label>Check Record Object Type</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Error_Unexpected_Object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Undefined Object</defaultConnectorLabel>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_GenAI_Summary_Fields</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_GenAI_Summary_Fields</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_GenAI_Summary_Fields</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>formula for DateTime of now</description>
        <name>f_Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>f_nullTime</name>
        <dataType>DateTime</dataType>
        <expression>null</expression>
    </formulas>
    <formulas>
        <name>f_Score</name>
        <dataType>Number</dataType>
        <expression>IF( ISNUMBER(LEFT({!v_Summary},FIND(&quot;;&quot;, {!v_Summary})-1 )), VALUE( LEFT({!v_Summary},FIND(&quot;;&quot;, {!v_Summary}) -1 )), null)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_ScoringNotes</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!v_Summary}, LEN({!v_Summary}) - FIND(&quot;;&quot;, {!v_Summary})))</expression>
    </formulas>
    <formulas>
        <name>f_WhenToStartSummarizing</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!f_x_Days_Ago_date})</expression>
    </formulas>
    <formulas>
        <description>formula for X Days ago</description>
        <name>f_x_Days_Ago_date</name>
        <dataType>Date</dataType>
        <expression>TODAY() - {!v_DefaultDaysRange}</expression>
    </formulas>
    <interviewLabel>Screen - GenAI Convo Summarization {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Screen - GenAI Convo Summarization</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Load_Gen_AI_Parameters</name>
        <label>Load Gen AI Parameters</label>
        <locationX>1766</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_GenAI_Parameter_Record_is_found</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ERROR_Unable_to_load_GenAI_parameters</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_GenAI_Parameter_Set</elementReference>
            </value>
        </filters>
        <object>Mogli_SMS__GenAI_Parameters_Set__mdt</object>
        <outputAssignments>
            <assignToReference>v_GenAIProvider</assignToReference>
            <field>Mogli_SMS__Gen_AI_Provider__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_LogExperiment</assignToReference>
            <field>Mogli_SMS__Log_Experiment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_Param_SystemPrompt</assignToReference>
            <field>Mogli_SMS__System_Prompt__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_UserGoal</assignToReference>
            <field>Mogli_SMS__User_Goal__c</field>
        </outputAssignments>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_GenAI_Summary_Fields</name>
        <label>Update Contact GenAI Summary Fields</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Stamp_Contact_Record_Info</targetReference>
        </connector>
        <faultConnector>
            <targetReference>End_Flow_No_save</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Mogli_SMS__GenAI_Summary_Rich_Text__c</field>
            <value>
                <elementReference>ManualEdit</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_GenAI_Summary_Fields</name>
        <label>Update Lead GenAI Summary Fields</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Stamp_Lead_Record_Info</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>End_Flow_No_save</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Mogli_SMS__GenAI_Summary_Rich_Text__c</field>
            <value>
                <elementReference>ManualEdit</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_GenAI_Summary_Fields</name>
        <label>Update Opportunity GenAI Summary Fields</label>
        <locationX>1106</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Stamp_Opportunity_Record_Info</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>End_Flow_No_save</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Mogli_SMS__GenAI_Summary_Rich_Text__c</field>
            <value>
                <elementReference>ManualEdit</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>End_Flow</name>
        <label>End Flow</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Complete_Text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Screen Flow complete:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;The {!v_objectName} Summary Field has been updated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Final_step_prompt_0</name>
            <fieldText>&lt;p&gt;Press &lt;strong&gt;Finish&lt;/strong&gt; to start over.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End_Flow_Failure</name>
        <label>End Flow - Failure</label>
        <locationX>1634</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Complete_Text_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Sorry, we were unable to summarize successfully.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!MogliFlowDebug}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Please share the above message with your org&apos;s admin.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Final_step_prompt_0_0</name>
            <fieldText>&lt;p&gt;Press &lt;strong&gt;Finish&lt;/strong&gt; to start over.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End_Flow_No_save</name>
        <label>End Flow - No save</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Complete_Text_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Screen Flow complete:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;No changes to this {!v_objectName} record has been made.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Final_step_prompt_nosave</name>
            <fieldText>&lt;p&gt;Press &lt;strong&gt;Finish&lt;/strong&gt; to start over.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Set_Summary_Window</name>
        <label>Set Summary Window</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Call_out_to_Gen_AI</targetReference>
        </connector>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;p&gt;To get a summation of the latest conversations with this {!v_objectName}, simply modify the below &lt;strong&gt;Start Date&lt;/strong&gt;, &lt;strong&gt;End Date&lt;/strong&gt;, and/or &lt;strong&gt;maximum number of records&lt;/strong&gt;. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Prompt_to_Use</name>
            <defaultValue>
                <stringValue>{!v_Param_SystemPrompt}</stringValue>
            </defaultValue>
            <fieldText>Prompt to Use</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>c_DetailedMode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Set_Summary_Window_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Set_Summary_Window_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Summary_Window_Start</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>f_WhenToStartSummarizing</elementReference>
                    </defaultValue>
                    <fieldText>Summary Window Start</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Summary_Window_End</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>f_Now</elementReference>
                    </defaultValue>
                    <fieldText>Summary Window End</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Set_Summary_Window_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Max_of_last_Messages</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>v_MaxMessageLimit</elementReference>
                    </defaultValue>
                    <fieldText>Max Messages</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Your admin have set the maximum to &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!v_MaxMessageLimit}.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Max_of_last_Messages} &lt;= {!v_MaxMessageLimit}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Key_Outputs</name>
            <fieldText>Key Outputs</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Key_Outputs_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Update_current_record_fields</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Update current record fields</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Log_Summary_in_new_record</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Log Summary in new record</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Key_Outputs_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>v_ShowKeyOutput</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Prompt_to_click_next</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;Press Next to Continue&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Summary</name>
        <label>Show Summary</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Record_Object_Type</targetReference>
        </connector>
        <fields>
            <name>SummaryReadout</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Summarization Successful&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ManualEdit</name>
            <defaultValue>
                <stringValue>{!v_Summary}</stringValue>
            </defaultValue>
            <fieldText>Review / Edit Summary:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Final_step_prompt</name>
            <fieldText>&lt;p&gt;Click &lt;strong&gt;Next&lt;/strong&gt; to save the above summary.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2102</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pull_object_details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_out_to_Gen_AI</name>
        <label>Call out to Gen AI</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Check_if_GenAI_Summary_was_Successful</targetReference>
        </connector>
        <flowName>Mogli_SMS__Execute_GenAI_action_for_SMS_Collection</flowName>
        <inputAssignments>
            <name>GenAI_ParameterName</name>
            <value>
                <elementReference>v_GenAI_Parameter_Set</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>v_mogliPhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>v_End_DateTime</name>
            <value>
                <elementReference>Summary_Window_End</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>v_Record_Query_Limit</name>
            <value>
                <elementReference>Max_of_last_Messages</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>v_Start_DateTime</name>
            <value>
                <elementReference>Summary_Window_Start</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>v_Summary</assignToReference>
            <name>GenAI_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_GenAISummary_Success</assignToReference>
            <name>isSuccess</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_GenAISummary_Debug</assignToReference>
            <name>MogliFlowDebug</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>currentItem_Filter_for_Selected_Parameters_Set</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Mogli_SMS__GenAI_Parameters_Set__mdt</objectType>
    </variables>
    <variables>
        <name>MogliFlowDebug</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>How many days to go back for the default summarization range. So it can be set on a page by page level.</description>
        <name>v_DefaultDaysRange</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>This controls if extra controls are shown on the Set Summary Window screen - default FALSE</description>
        <name>v_DisplayKeyOutput</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>v_GenAI_Parameter_Set</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>gemini_flash_summary</stringValue>
        </value>
    </variables>
    <variables>
        <name>v_GenAIProvider</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_GenAISummary_Debug</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_GenAISummary_Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_LogExperiment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_ManualMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The maximum number of messages allowed to be Summarized. Too high will risk exceeding time limit or context window.</description>
        <name>v_MaxMessageLimit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>60.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>v_Message_daterange_begin</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Message_daterange_end</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_MIOcheckSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_mogliPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_objectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_OppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Param_SystemPrompt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_ShowKeyOutput</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>This is what Chat GPT would return, and be stored back on the case record</description>
        <name>v_Summary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_UserGoal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
