sandbox-codebase/flows/Mogli_SMS__Mogli_Lead_Populate_Mogli_Number.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AssignMobileMogliNumber</name>
        <label>AssignMobileMogliNumber</label>
        <locationX>590</locationX>
        <locationY>510</locationY>
        <assignmentItems>
            <assignToReference>v_MogliNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_MobileMogliNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Mogli_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPhoneMogliNumber</name>
        <label>AssignPhoneMogliNumber</label>
        <locationX>594</locationX>
        <locationY>291</locationY>
        <assignmentItems>
            <assignToReference>v_MogliNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_PhoneMogliNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Mogli_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>END_Do_Nothing</name>
        <label>END - Do Nothing</label>
        <locationX>426</locationX>
        <locationY>608</locationY>
        <assignmentItems>
            <assignToReference>MogliFlowDebug</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>END - Do Nothing</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Please check your validation rules and duplicate rules.</description>
        <name>ERROR_Unable_to_update_Lead</name>
        <label>ERROR - Unable to update Lead</label>
        <locationX>747</locationX>
        <locationY>613</locationY>
        <assignmentItems>
            <assignToReference>MogliFlowDebug</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR - Unable to update Lead</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Update_Type</name>
        <label>Update Type</label>
        <locationX>415</locationX>
        <locationY>409</locationY>
        <defaultConnector>
            <targetReference>END_Do_Nothing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mobile</name>
            <conditionLogic>2 AND (1 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>f_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mogli_SMS__Mogli_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.MobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.MobilePhone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignMobileMogliNumber</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
        <rules>
            <name>Phone</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (3 AND (5 OR 6))</conditionLogic>
            <conditions>
                <leftValueReference>f_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mogli_SMS__Mogli_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.MobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.MobilePhone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Phone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Phone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPhoneMogliNumber</targetReference>
            </connector>
            <label>Phone</label>
        </rules>
    </decisions>
    <description>Populate the Mogli Number field based on the Mobile and Phone fields, with Mobile as priority.</description>
    <formulas>
        <name>f_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>OR(
    AND(
        ISBLANK({!$Record.Mogli_SMS__Mogli_Number__c}),
        OR(
            NOT(ISBLANK({!$Record.MobilePhone})),
            NOT(ISBLANK({!$Record.Phone}))
        )
    ),
    ISCHANGED({!$Record.MobilePhone}),
    ISCHANGED({!$Record.Phone})
)</expression>
    </formulas>
    <formulas>
        <name>f_MobileMogliNumber</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TRIM({!$Record.MobilePhone})),&quot;&quot;,
IF(REGEX(TRIM({!$Record.MobilePhone}),&quot;[\\s\\S\\w\\W]*[a-zA-Z@#$%^&amp;*&lt;&gt;!?\\[\\]_{};:&apos;/~`]+[\\s\\S\\w\\W]*&quot;),&quot;&quot;,
&quot;+1&quot; &amp; SUBSTITUTE( SUBSTITUTE( SUBSTITUTE( SUBSTITUTE( SUBSTITUTE( SUBSTITUTE( SUBSTITUTE( SUBSTITUTE( SUBSTITUTE((&quot;+&quot;&amp; TRIM({!$Record.MobilePhone})),&quot;++1&quot;,&quot;&quot;),&quot;+1&quot;,&quot;&quot;),&quot;+&quot;,&quot;&quot;),&quot;(&quot;,&quot;&quot;),&quot;)&quot;,&quot;&quot;),&quot; &quot;,&quot;&quot;),&quot;-&quot;,&quot;&quot;),&quot;,&quot;,&quot;&quot;),&quot;.&quot;,&quot;&quot;)))</expression>
    </formulas>
    <formulas>
        <name>f_PhoneMogliNumber</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TRIM({!$Record.Phone})),&quot;&quot;,
IF(REGEX(TRIM({!$Record.Phone}),&quot;[\\s\\S\\w\\W]*[a-zA-Z@#$%^&amp;*&lt;&gt;!?\\[\\]_{};:&apos;/~`]+[\\s\\S\\w\\W]*&quot;),&quot;&quot;,
&quot;+1&quot; &amp; SUBSTITUTE( SUBSTITUTE( SUBSTITUTE( SUBSTITUTE( SUBSTITUTE( SUBSTITUTE( SUBSTITUTE( SUBSTITUTE( SUBSTITUTE((&quot;+&quot;&amp; TRIM({!$Record.Phone})),&quot;++1&quot;,&quot;&quot;),&quot;+1&quot;,&quot;&quot;),&quot;+&quot;,&quot;&quot;),&quot;(&quot;,&quot;&quot;),&quot;)&quot;,&quot;&quot;),&quot; &quot;,&quot;&quot;),&quot;-&quot;,&quot;&quot;),&quot;,&quot;,&quot;&quot;),&quot;.&quot;,&quot;&quot;)))</expression>
    </formulas>
    <interviewLabel>[Mogli] Lead - Populate Mogli Number {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>[Mogli] Lead - Populate Mogli Number</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Lead_Mogli_Number</name>
        <label>Update Lead Mogli Number</label>
        <locationX>747</locationX>
        <locationY>400</locationY>
        <faultConnector>
            <targetReference>ERROR_Unable_to_update_Lead</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Mogli_SMS__Mogli_Number__c</field>
            <value>
                <elementReference>v_MogliNumber</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2</locationX>
        <locationY>307</locationY>
        <connector>
            <targetReference>Update_Type</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>MogliFlowDebug</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_MogliNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
