sandbox-codebase/flows/Mogli_SMS__Execute_GenAI_action_for_SMS_Collection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Make callout to Anthropic using retrieved parameters and the collected SMS messages</description>
        <name>Callout_to_Anthropic</name>
        <label>Callout to Anthropic</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <actionName>Mogli_SMS__AnthropicIntegrationInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_and_Increment_Feature_Parameter</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ERROR_Anthropic_API_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>anthropicVersion</name>
            <value>
                <elementReference>Get_Matching_GenAI_Parameter.Mogli_SMS__Anthropic_Version__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>credentialFullName</name>
            <value>
                <elementReference>Get_Matching_GenAI_Parameter.Mogli_SMS__Credential_FullName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>credentialType</name>
            <value>
                <elementReference>Get_Matching_GenAI_Parameter.Mogli_SMS__Credential_Type__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>maxTokens</name>
            <value>
                <elementReference>Get_Matching_GenAI_Parameter.Mogli_SMS__Max_Tokens__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messages</name>
            <value>
                <elementReference>adc_MogliAIMessagesLumped</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>model</name>
            <value>
                <elementReference>Get_Matching_GenAI_Parameter.Mogli_SMS__Model__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>system_prompt</name>
            <value>
                <elementReference>Get_Matching_GenAI_Parameter.Mogli_SMS__System_Prompt__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>temperature</name>
            <value>
                <elementReference>Get_Matching_GenAI_Parameter.Mogli_SMS__Temperature__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tool_choice</name>
            <value>
                <elementReference>Get_Matching_GenAI_Parameter.Mogli_SMS__Tool_Choice__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tool_result_key</name>
            <value>
                <elementReference>Get_Matching_GenAI_Parameter.Mogli_SMS__Tool_Result_Key__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tools_schema</name>
            <value>
                <elementReference>Get_Matching_GenAI_Parameter.Mogli_SMS__Tools_Schema__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Mogli_SMS__AnthropicIntegrationInvocable</nameSegment>
        <outputParameters>
            <assignToReference>GenAI_Output</assignToReference>
            <name>completion</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Make callout to Gemini using retrieved parameters and the collected SMS messages</description>
        <name>Callout_to_Gemini</name>
        <label>Callout to Gemini</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <actionName>Mogli_SMS__GeminiIntegrationInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_and_Increment_Feature_Parameter</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ERROR_Gemini_API_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>credentialFullName</name>
            <value>
                <elementReference>Get_Matching_GenAI_Parameter.Mogli_SMS__Credential_FullName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>credentialType</name>
            <value>
                <elementReference>Get_Matching_GenAI_Parameter.Mogli_SMS__Credential_Type__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DangerousContent_threshold</name>
            <value>
                <elementReference>Get_Matching_GenAI_Parameter.Mogli_SMS__HARM_CATEGORY_DANGEROUS_CONTENT__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Harassment_threshold</name>
            <value>
                <elementReference>Get_Matching_GenAI_Parameter.Mogli_SMS__HARM_CATEGORY_HARASSMENT__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HateSpeech_threshold</name>
            <value>
                <elementReference>Get_Matching_GenAI_Parameter.Mogli_SMS__HARM_CATEGORY_HATE_SPEECH__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>maxOutputTokens</name>
            <value>
                <elementReference>Get_Matching_GenAI_Parameter.Mogli_SMS__Max_Tokens__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messages</name>
            <value>
                <elementReference>adc_MogliAIMessagesLumped</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>model</name>
            <value>
                <elementReference>Get_Matching_GenAI_Parameter.Mogli_SMS__Model__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>response_schema</name>
            <value>
                <elementReference>Get_Matching_GenAI_Parameter.Mogli_SMS__Response_Schema__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SexuallyExplicit_threshold</name>
            <value>
                <elementReference>Get_Matching_GenAI_Parameter.Mogli_SMS__HARM_CATEGORY_SEXUALLY_EXPLICIT__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SystemPrompt</name>
            <value>
                <elementReference>Get_Matching_GenAI_Parameter.Mogli_SMS__System_Prompt__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>temperature</name>
            <value>
                <elementReference>Get_Matching_GenAI_Parameter.Mogli_SMS__Temperature__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>top_k</name>
            <value>
                <elementReference>Get_Matching_GenAI_Parameter.Mogli_SMS__Top_K__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>top_p</name>
            <value>
                <elementReference>Get_Matching_GenAI_Parameter.Mogli_SMS__Top_P__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Mogli_SMS__GeminiIntegrationInvocable</nameSegment>
        <outputParameters>
            <assignToReference>GenAI_Output</assignToReference>
            <name>completion</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>If the Feature Parameter is found, check if it is enabled. Then increment if enabled.</description>
        <name>Check_and_Increment_Feature_Parameter</name>
        <label>Increment Feature Parameter</label>
        <locationX>710</locationX>
        <locationY>1322</locationY>
        <actionName>Mogli_SMS__GenAIUsageCounterInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_GenAI_eval_Object</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isIncrement</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useCaseName</name>
            <value>
                <elementReference>Get_Matching_GenAI_Parameter.Mogli_SMS__User_Goal__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Mogli_SMS__GenAIUsageCounterInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>If the Feature Parameter is found, check if it is enabled. Then increment if enabled.</description>
        <name>Check_Feature_Parameter</name>
        <label>Check Feature Parameter</label>
        <locationX>1865</locationX>
        <locationY>350</locationY>
        <actionName>Mogli_SMS__GenAIUsageCounterInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Feature_Parameter_Result</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ERROR_Failed_to_Check_Feature_Parameter</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isIncrement</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useCaseName</name>
            <value>
                <elementReference>Get_Matching_GenAI_Parameter.Mogli_SMS__User_Goal__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Mogli_SMS__GenAIUsageCounterInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>END_API_call_successful</name>
        <label>END - API call successful</label>
        <locationX>710</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>MogliFlowDebug</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>API call successful</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ERROR_Anthropic_API_Error</name>
        <label>ERROR - Anthropic API Error</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>MogliFlowDebug</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ERROR_Failed_to_Check_Feature_Parameter</name>
        <label>ERROR - Failed to Check / Increment Feature Parameter</label>
        <locationX>2426</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MogliFlowDebug</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR - Failed to Check / Increment Feature Parameter</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ERROR_Gemini_API_Error</name>
        <label>ERROR - Gemini API Error</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>MogliFlowDebug</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ERROR_GenAI_Parameters_not_found</name>
        <label>ERROR - GenAI Parameters not found</label>
        <locationX>2954</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>MogliFlowDebug</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR - GenAI Parameters not found</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ERROR_Invalid_GenAI_Provider</name>
        <label>ERROR - Invalid GenAI Provider</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>MogliFlowDebug</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR - Invalid GenAI Provider</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ERROR_No_SMS_records_Found</name>
        <label>ERROR - No SMS records Found</label>
        <locationX>1634</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MogliFlowDebug</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR - No SMS records Found</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ERROR_Processor_Subflow_Failed</name>
        <label>ERROR - Processor Subflow Failed</label>
        <locationX>1898</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MogliFlowDebug</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR - Processor Subflow Failed</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ERROR_This_GenAI_use_case_is_disabled</name>
        <label>ERROR - This GenAI use case is disabled</label>
        <locationX>2162</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MogliFlowDebug</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Feature is currently disabled.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ERROR_Unable_to_Query_GenAI_Parameters</name>
        <label>ERROR - Unable to Query GenAI Parameters</label>
        <locationX>3218</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>MogliFlowDebug</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR - Unable to Query GenAI Parameters</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>MogliSystemAdminPermissionSet</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Mogli_SMS_User_System_Admin</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_if_GenAI_parameters_are_found</name>
        <label>Check if GenAI parameters are found</label>
        <locationX>2409</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>ERROR_GenAI_Parameters_not_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing Parameter</defaultConnectorLabel>
        <rules>
            <name>Found_Parameter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Matching_GenAI_Parameter</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Feature_Parameter</targetReference>
            </connector>
            <label>Found Parameter</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_SMS_Retrieval_and_Processing_passed</name>
        <label>Check if SMS Retrieval and Processing passed</label>
        <locationX>1304</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>ERROR_Processor_Subflow_Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Processor Failed - Other</defaultConnectorLabel>
        <rules>
            <name>Processor_Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_ProcessorSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_GenAI_provider</targetReference>
            </connector>
            <label>Processor Passed</label>
        </rules>
        <rules>
            <name>Processor_Failed_No_SMS_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MogliFlowDebug</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Error - empty SMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ERROR_No_SMS_records_Found</targetReference>
            </connector>
            <label>Processor Failed - No SMS Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Choose_GenAI_provider</name>
        <label>Choose GenAI provider</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ERROR_Invalid_GenAI_Provider</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None of the Above</defaultConnectorLabel>
        <rules>
            <name>Google_Gemini</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Matching_GenAI_Parameter.Mogli_SMS__Gen_AI_Provider__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Google Gemini</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Callout_to_Gemini</targetReference>
            </connector>
            <label>Google Gemini</label>
        </rules>
        <rules>
            <name>Anthropic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Matching_GenAI_Parameter.Mogli_SMS__Gen_AI_Provider__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Anthropic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Callout_to_Anthropic</targetReference>
            </connector>
            <label>Anthropic</label>
        </rules>
        <rules>
            <name>OpenAI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Matching_GenAI_Parameter.Mogli_SMS__Gen_AI_Provider__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OpenAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ERROR_Invalid_GenAI_Provider</targetReference>
            </connector>
            <label>OpenAI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Feature_Parameter_Result</name>
        <label>Feature Parameter Result</label>
        <locationX>1865</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>ERROR_Failed_to_Check_Feature_Parameter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error Encountered</defaultConnectorLabel>
        <rules>
            <name>Feature_Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Feature_Parameter.IsSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Feature_Parameter.CalloutAllowed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_and_Package_relevant_SMS_records</targetReference>
            </connector>
            <label>Feature Enabled</label>
        </rules>
        <rules>
            <name>Feature_Disabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Feature_Parameter.IsSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Feature_Parameter.CalloutAllowed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ERROR_This_GenAI_use_case_is_disabled</targetReference>
            </connector>
            <label>Feature Disabled</label>
        </rules>
    </decisions>
    <description>This flow search for a collection of SMS records under a certain parent record and runs the callout to a foundational model for processing. The outcome is used in other flows and components.</description>
    <interviewLabel>GenAI - {!$Flow.CurrentDateTime}</interviewLabel>
    <isOverridable>true</isOverridable>
    <label>Execute GenAI action for SMS Collection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_GenAI_eval_Object</name>
        <label>Create GenAI eval Object</label>
        <locationX>710</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>END_API_call_successful</targetReference>
        </connector>
        <inputAssignments>
            <field>Mogli_SMS__FrequencyPenalty__c</field>
            <value>
                <elementReference>Get_Matching_GenAI_Parameter.Mogli_SMS__Frequency_Penalty__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__ModelResponse__c</field>
            <value>
                <elementReference>GenAI_Output</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__Model__c</field>
            <value>
                <elementReference>Get_Matching_GenAI_Parameter.Mogli_SMS__Model__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__MogliGenAIParameterSet__c</field>
            <value>
                <elementReference>Get_Matching_GenAI_Parameter.DeveloperName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__N__c</field>
            <value>
                <elementReference>Get_Matching_GenAI_Parameter.Mogli_SMS__N__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__ObjectApiName__c</field>
            <value>
                <elementReference>ObjectAPIName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__PresencePenalty__c</field>
            <value>
                <elementReference>Get_Matching_GenAI_Parameter.Mogli_SMS__Presence_Penalty__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__PromptSent__c</field>
            <value>
                <elementReference>Get_Matching_GenAI_Parameter.Mogli_SMS__System_Prompt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__RecordId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__SMSMessageEndDate__c</field>
            <value>
                <elementReference>v_End_DateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__SMSMessageStartDate__c</field>
            <value>
                <elementReference>v_Start_DateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__Temperature__c</field>
            <value>
                <elementReference>Get_Matching_GenAI_Parameter.Mogli_SMS__Temperature__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__TopK__c</field>
            <value>
                <elementReference>Get_Matching_GenAI_Parameter.Mogli_SMS__Top_K__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__UseCase__c</field>
            <value>
                <elementReference>Get_Matching_GenAI_Parameter.Mogli_SMS__User_Goal__c</elementReference>
            </value>
        </inputAssignments>
        <object>Mogli_SMS__GenAI_Eval__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Matching_GenAI_Parameter</name>
        <label>Get Matching GenAI Parameter</label>
        <locationX>2409</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_GenAI_parameters_are_found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ERROR_Unable_to_Query_GenAI_Parameters</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GenAI_ParameterName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Mogli_SMS__GenAI_Parameters_Set__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>2283</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Matching_GenAI_Parameter</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Collect_and_Package_relevant_SMS_records</name>
        <label>Collect and Package relevant SMS records</label>
        <locationX>1304</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Check_if_SMS_Retrieval_and_Processing_passed</targetReference>
        </connector>
        <flowName>Mogli_SMS__SMS_Retriever_and_Processor_Wrapper</flowName>
        <inputAssignments>
            <name>v_End_Date_Time</name>
            <value>
                <elementReference>v_End_DateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>v_Last_N_Records</name>
            <value>
                <elementReference>v_Record_Query_Limit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>v_Phone_Number</name>
            <value>
                <elementReference>PhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>v_Related_Record_ID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>v_Start_Date_Time</name>
            <value>
                <elementReference>v_Start_DateTime</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>adc_MogliAIMessages</assignToReference>
            <name>adc_AIMessages</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>adc_MogliAIMessagesLumped</assignToReference>
            <name>adc_AIMessagesLumped</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_ProcessorSuccess</assignToReference>
            <name>isSuccess</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_Entire_Message_String</assignToReference>
            <name>v_AIMessagesString</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_Total_Message_Length</assignToReference>
            <name>v_CharacterCount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MogliFlowDebug</assignToReference>
            <name>v_flowStatus</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GatewayID</assignToReference>
            <name>v_GatewayID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PhoneNumber</assignToReference>
            <name>v_Phone_Number</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_SMS_Record_Count</assignToReference>
            <name>v_RecordCount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>rc_SMS_Found</assignToReference>
            <name>v_SmsCollection</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>adc_MogliAIMessages</name>
        <apexClass>Mogli_SMS__AIMessage</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>adc_MogliAIMessagesLumped</name>
        <apexClass>Mogli_SMS__AIMessage</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GatewayID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GenAI_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Flow Incomplete</stringValue>
        </value>
    </variables>
    <variables>
        <description>The Mogli GenAI Parameter name to use</description>
        <name>GenAI_ParameterName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MogliFlowDebug</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ObjectAPIName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>rc_SMS_Found</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Mogli_SMS__SMS__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_End_DateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Entire_Message_String</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_ProcessorSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Limit number of records to pull</description>
        <name>v_Record_Query_Limit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>v_SMS_Record_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>v_Start_DateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Total_Message_Length</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
