sandbox-codebase/flows/Mogli_SMS__SMS_Retriever_and_Processor_Wrapper.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SMS_Retriever</name>
        <label>Mogli Messages Retriever</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>Mogli_SMS__SMSRetriever</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Filter_out_Errored_and_Scheduled_messages</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>endDateTime</name>
            <value>
                <elementReference>v_End_Date_Time</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lastNRecords</name>
            <value>
                <elementReference>v_Last_N_Records</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phoneNumber</name>
            <value>
                <elementReference>v_Phone_Number</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>v_Related_Record_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDateTime</name>
            <value>
                <elementReference>v_Start_Date_Time</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Mogli_SMS__SMSRetriever</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>v_Mogli_SMS_Messages</assignToReference>
            <name>smsMessages</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <collectionProcessors>
        <name>Filter_out_Errored_and_Scheduled_messages</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter out Errored and Scheduled messages</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNextValueToReference>currentItem_Filter_out_Errored_and_Scheduled_messages</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>v_Mogli_SMS_Messages</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_out_Errored_and_Scheduled_messages.Mogli_SMS__Status__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Error</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_out_Errored_and_Scheduled_messages.Mogli_SMS__Status__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Scheduled</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>SMS_Processor</targetReference>
        </connector>
    </collectionProcessors>
    <description>Auto-Launched Flow combining the Mogli Message retriever (a collection of Mogli Message record given parameters) and processor (character count, message count, etc). 
Simplifying the connection when an admin wants to reuse this pairing.</description>
    <environments>Default</environments>
    <interviewLabel>SMS Retriever and Processor Wrapper {!$Flow.CurrentDateTime}</interviewLabel>
    <isOverridable>true</isOverridable>
    <label>Mogli Message Retriever and Processor Wrapper</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SMS_Retriever</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SMS_Processor</name>
        <label>Mogli Messages Processor</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <flowName>Mogli_SMS__SMS_Processor</flowName>
        <inputAssignments>
            <name>v_SmsCollection</name>
            <value>
                <elementReference>Filter_out_Errored_and_Scheduled_messages</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>adc_AIMessages</assignToReference>
            <name>adc_AIMessages</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>adc_AIMessagesLumped</assignToReference>
            <name>adc_AIMessagesLumped</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>isSuccess</assignToReference>
            <name>isSuccess</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_AIMessagesString</assignToReference>
            <name>v_AIMessagesString</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_CharacterCount</assignToReference>
            <name>v_CharacterCount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_flowStatus</assignToReference>
            <name>v_flowStatus</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_GatewayID</assignToReference>
            <name>v_GatewayID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_Phone_Number</assignToReference>
            <name>v_Number</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_RecordCount</assignToReference>
            <name>v_RecordCount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_SmsCollection</assignToReference>
            <name>v_SmsCollection</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>adc_AIMessages</name>
        <apexClass>Mogli_SMS__AIMessage</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>adc_AIMessagesLumped</name>
        <apexClass>Mogli_SMS__AIMessage</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_out_Errored_and_Scheduled_messages</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Mogli_SMS__SMS__c</objectType>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_AIMessagesString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_CharacterCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>v_End_Date_Time</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_flowStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Changes how this flow behaves for filtering and output</description>
        <name>v_FunctionSwitch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_GatewayID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_Last_N_Records</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>v_Mogli_SMS_Messages</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Mogli_SMS__SMS__c</objectType>
    </variables>
    <variables>
        <name>v_Phone_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_RecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>v_Related_Record_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_SmsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Mogli_SMS__SMS__c</objectType>
    </variables>
    <variables>
        <name>v_Start_Date_Time</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
