sandbox-codebase/flows/Mogli_SMS__SMS_Processor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Record_to_AIMessages</name>
        <label>Add Record to AIMessages</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>adc_AIMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AIMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_SMS_messages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>490</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>v_RecordCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_CharacterCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>f_CountCharacters</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AIMessage.content</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_SMS_messages.Mogli_SMS__Message__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AIMessage.role</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_RoleTransformation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_AIMessagesString</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>f_AddNewAIMessageText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_GatewayID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_SMS_messages.Mogli_SMS__Gateway__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_SMS_messages.Mogli_SMS__Phone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Record_to_AIMessages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_AIMessageLumped</name>
        <label>Create AIMessageLumped</label>
        <locationX>402</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>adc_AIMessagesLumped</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AIMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Error</name>
        <label>Error</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>v_flowStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error - empty SMS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Stamp_AIMessage</name>
        <label>Stamp AIMessage</label>
        <locationX>402</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>v_flowStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AIMessage.role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>user</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AIMessage.content</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>v_AIMessagesString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_AIMessageLumped</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_empty_SMS_collection</name>
        <label>Check for empty Mogli Message collection</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_SMS_messages</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mogli Message collection has something</defaultConnectorLabel>
        <rules>
            <name>Input_SMS_collection_is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_SmsCollection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>Input Mogli Message collection is Empty</label>
        </rules>
    </decisions>
    <description>Takes any collection of Mogli Messages and processes them</description>
    <environments>Default</environments>
    <formulas>
        <name>f_AddNewAIMessageText</name>
        <dataType>String</dataType>
        <expression>{!f_RoleTransformation}&amp;&quot;: &quot; &amp; {!Loop_Through_SMS_messages.Mogli_SMS__Message__c}&amp; BR()</expression>
    </formulas>
    <formulas>
        <name>f_CountCharacters</name>
        <dataType>Number</dataType>
        <expression>LEN({!Loop_Through_SMS_messages.Mogli_SMS__Message__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_RoleTransformation</name>
        <dataType>String</dataType>
        <expression>CASE({!Loop_Through_SMS_messages.Mogli_SMS__Direction__c},&apos;Outgoing&apos;,&apos;assistant&apos;,&apos;Incoming&apos;,&apos;user&apos;,&apos;Error&apos;)</expression>
    </formulas>
    <interviewLabel>Mogli Message Processor {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Mogli Message Processor</label>
    <loops>
        <name>Loop_Through_SMS_messages</name>
        <label>Loop Through Mogli Message messages</label>
        <locationX>402</locationX>
        <locationY>242</locationY>
        <collectionReference>v_SmsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Stamp_AIMessage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_empty_SMS_collection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>adc_AIMessages</name>
        <apexClass>Mogli_SMS__AIMessage</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>adc_AIMessagesLumped</name>
        <apexClass>Mogli_SMS__AIMessage</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AIMessage</name>
        <apexClass>Mogli_SMS__AIMessage</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_AIMessagesString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_CharacterCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>v_flowStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_GatewayID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_RecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>v_SmsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Mogli_SMS__SMS__c</objectType>
    </variables>
</Flow>
