sandbox-codebase/flows/Mogli_Message_Populate_Contact_When_Launched_From_Study.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>Assign_Contact_to_Mogli_Message</name>
        <label>Assign: Contact to Mogli Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Mogli_SMS__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Study__r.Patient__r.PersonContactId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Confirms that the Study has a Patient record defined</description>
        <name>Decision_Study_has_Patient_Record</name>
        <label>Decision: Study has Patient Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome: Study Does Not Have Patient Record</defaultConnectorLabel>
        <rules>
            <name>Outcome_Study_Has_Patient_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Study__r.Patient__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_to_Mogli_Message</targetReference>
            </connector>
            <label>Outcome: Study Has Patient Record</label>
        </rules>
    </decisions>
    <description>When a Mogli SMS is launched from a study record, this flow ensures that the contact lookup field is also defined in order to display this SMS record in the related list for both the Study and the Contact (Patient Person Account)
https://basecamp.com/2583453/projects/19794483/todos/515557320</description>
    <environments>Default</environments>
    <interviewLabel>(Mogli Message) Populate Contact When Launched From Study {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(Mogli Message) Populate Contact When Launched From Study</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Study_has_Patient_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Study__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Mogli_SMS__Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Mogli_SMS__SMS__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
