sandbox-codebase/flows/New_Billable_Decision.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <decisions>
        <name>Is_Special_Billing_Account</name>
        <label>Is Special Billing Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Special Account</defaultConnectorLabel>
        <rules>
            <name>Persante</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001Uf00000hJnM3IAK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Persante_Is_Study_Successful</targetReference>
            </connector>
            <label>Persante</label>
        </rules>
        <rules>
            <name>North_Jersey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001Uf00000gEfZbIAK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>North_Jersey_Is_Study_Successful</targetReference>
            </connector>
            <label>North Jersey</label>
        </rules>
    </decisions>
    <decisions>
        <name>North_Jersey_Is_Study_Successful</name>
        <label>North Jersey - Is Study Successful?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>North_Jersey_Unbillable_Reasons</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>North Jersey Not Successful</defaultConnectorLabel>
        <rules>
            <name>North_Jersey_Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Study_Success_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_billable_study_NJ</targetReference>
            </connector>
            <label>North Jersey Successful</label>
        </rules>
    </decisions>
    <decisions>
        <name>North_Jersey_Unbillable_Reasons</name>
        <label>North Jersey - Unbillable Reasons</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Study_Billable_North_Jersey</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Billable North Jersey</defaultConnectorLabel>
        <rules>
            <name>Unbillable_North_Jersey</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unsuccessful_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patient Refusal: Pre-ship</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unsuccessful_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-ship: Provider Error</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unsuccessful_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-ship: Patient Unresponsive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unsuccessful_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post-ship: Patient Refusal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unsuccessful_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Provider error: post-ship</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unsuccessful_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post-Ship: Patient Unresponsive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unsuccessful_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contraindicated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unsuccessful_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transit issue (Lost, Undeliverable, etc)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unsuccessful_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data Quality: Hardware/Firmware</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unsuccessful_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data Quality: Exclusions (patient wear)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Study_Unbillable_North_Jersey</targetReference>
            </connector>
            <label>Unbillable North Jersey</label>
        </rules>
    </decisions>
    <decisions>
        <name>Persante_Is_Study_Successful</name>
        <label>Persante - Is Study Successful?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Persante_Unbillable_Reasons</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Persante Not Successful</defaultConnectorLabel>
        <rules>
            <name>Persante_Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Study_Success_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_billable_study_persante1</targetReference>
            </connector>
            <label>Persante - Successful</label>
        </rules>
    </decisions>
    <decisions>
        <name>Persante_Unbillable_Reasons</name>
        <label>Persante - Unbillable Reasons</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Study_Billable_Persante</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Billable</defaultConnectorLabel>
        <rules>
            <name>Unbillable_Persante</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unsuccessful_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patient Refusal: Pre-ship</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unsuccessful_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-ship: Provider Error</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unsuccessful_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-ship: Patient Unresponsive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unsuccessful_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post-ship: Patient Refusal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unsuccessful_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-ship: Provider Error</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unsuccessful_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post-Ship: Patient Unresponsive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unsuccessful_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transit issue (Lost, Undeliverable, etc)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unsuccessful_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contraindicated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unsuccessful_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data Quality: Hardware/Firmware</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Study_Unbillable_Persante</targetReference>
            </connector>
            <label>Unbillable Persante</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>New Billable Decision {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Billable Decision</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Persante_Set_Case_Billable_Flag_1</name>
        <label>Persante - Set Case Billable Flag = 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Billable_Studies__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Patient_Order__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_billable_study_NJ</name>
        <label>Set billable study NJ</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>update_case_nj</targetReference>
        </connector>
        <inputAssignments>
            <field>Study_Billable_Status__c</field>
            <value>
                <stringValue>Billable</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_billable_study_persante1</name>
        <label>Set billable study persante1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Persante_Set_Case_Billable_Flag_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Study_Billable_Status__c</field>
            <value>
                <stringValue>Billable</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Study_Billable_North_Jersey</name>
        <label>Set Study Billable - North Jersey</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Case_Billable_Flag_1_North_Jersey</targetReference>
        </connector>
        <inputAssignments>
            <field>Study_Billable_Status__c</field>
            <value>
                <stringValue>Billable</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Study_Billable_Persante</name>
        <label>Set Study Billable - Persante</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Case_Billable_Flag_1_Persante</targetReference>
        </connector>
        <inputAssignments>
            <field>Study_Billable_Status__c</field>
            <value>
                <stringValue>Billable</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Study_Unbillable_North_Jersey</name>
        <label>Set Study Unbillable - North Jersey</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Case_Billable_Flag_0_North_Jersey</targetReference>
        </connector>
        <inputAssignments>
            <field>Study_Billable_Status__c</field>
            <value>
                <stringValue>Unbillable</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Study_Unbillable_Persante</name>
        <label>Set Study Unbillable - Persante</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Case_Billable_Flag_0_Persante</targetReference>
        </connector>
        <inputAssignments>
            <field>Study_Billable_Status__c</field>
            <value>
                <stringValue>Unbillable</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Billable_Flag_0_North_Jersey</name>
        <label>Update Case Billable Flag = 0 - North Jersey</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Patient_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billable_Studies__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Billable_Flag_0_Persante</name>
        <label>Update Case Billable Flag = 0 - Persante</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Patient_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billable_Studies__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Billable_Flag_1_North_Jersey</name>
        <label>Update Case Billable Flag = 1 - North Jersey</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Patient_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billable_Studies__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Billable_Flag_1_Persante</name>
        <label>Update Case Billable Flag = 1 - Persante</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Patient_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billable_Studies__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_case_nj</name>
        <label>update case nj</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Billable_Studies__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Patient_Order__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Special_Billing_Account</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Study_Success_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Unsuccessful_Reason__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Study__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
