sandbox-codebase/flows/Shipment_Shipment_Tracking_Stages_Update_Study_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Update_Date_Received_by_Huxley</name>
        <label>Update Date Received by Huxley</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varRecord_Study.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Study__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_Study.Date_Received_by_Huxley__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Now</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Study_DateTimes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Date_Received_by_Patient</name>
        <label>Update Date Received by Patient</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varRecord_Study.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Study__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_Study.Date_Received_by_Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Now</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Study_DateTimes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Date_Return_Initiated</name>
        <label>Update Date Return Initiated</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varRecord_Study.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Study__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_Study.Date_Return_Initiated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Now</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Study_DateTimes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Date_Shipped_to_Patient</name>
        <label>Update Date Shipped to Patient</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varRecord_Study.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Study__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_Study.Date_Shipped_to_Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Now</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Study_DateTimes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_What_is_Tracking_Stage</name>
        <label>Decision: What is Tracking Stage?</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_Outbound_In_Transit_Out_For_Delivery</name>
            <conditionLogic>(1 OR 2 OR 5 OR 6 OR 7) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.zkmulti__Tracking_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Transit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zkmulti__Tracking_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Picked Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Study__r.Date_Shipped_to_Patient__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zkmulti__Shipment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zkmulti__Status_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>en route</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zkmulti__Status_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>In Transit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zkmulti__Status_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>enroute</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_Shipped_to_Patient</targetReference>
            </connector>
            <label>Outbound In Transit/Out For Delivery</label>
        </rules>
        <rules>
            <name>Outcome_Outbound_Delivered</name>
            <conditionLogic>(1 OR 3)AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.zkmulti__Tracking_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivered</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zkmulti__Shipment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zkmulti__Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_Received_by_Patient</targetReference>
            </connector>
            <label>Outbound Delivered</label>
        </rules>
        <rules>
            <name>Inbound_In_Transit_Out_For_Delivery</name>
            <conditionLogic>(1 OR 2 OR 5 OR 6 OR 7) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.zkmulti__Tracking_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Transit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zkmulti__Tracking_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Picked Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Study__r.Date_Return_Initiated__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zkmulti__Shipment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zkmulti__Status_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>en route</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zkmulti__Status_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>In Transit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zkmulti__Status_Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>enroute</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_Return_Initiated</targetReference>
            </connector>
            <label>Inbound In Transit/Out For Delivery</label>
        </rules>
        <rules>
            <name>Inbound_Delivered</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.zkmulti__Tracking_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivered</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zkmulti__Shipment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zkmulti__Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_Received_by_Huxley</targetReference>
            </connector>
            <label>Inbound Delivered</label>
        </rules>
    </decisions>
    <description>Taking out update to study status from each decision path. If the study date is updated manually for any reason this flow will now catch it. Separating out the study status change into a seperate flow that is triggered by the corresponding date field being changed through this flow automatically or triggered by a manual change to the field to account for this</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>(Shipment) - Shipment Tracking Stages Update Study Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(Shipment) - Shipment Tracking Stages Update Study Record V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Study_DateTimes</name>
        <label>Update Study DateTimes</label>
        <locationX>578</locationX>
        <locationY>623</locationY>
        <inputReference>varRecord_Study</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_What_is_Tracking_Stage</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>zkmulti__Tracking_Stage__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>zkmulti__Status_Description__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>zkmulti__MCShipment__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varRecord_Study</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Study__c</objectType>
    </variables>
</Flow>
