sandbox-codebase/flows/Study_Update_Asset_Location.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <description>Assigns the Number of Uses count variable in the flow to corresponding count on the Asset Object</description>
        <name>Assign_Asset_Number_of_Uses</name>
        <label>Assign Asset Number of Uses</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>AssetNumberofUses</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Asset__r.Number_of_Uses__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Number_of_Uses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Asset count variables in the flow to corresponding count on the Asset Object</description>
        <name>Assign_Asset_Study_Success_Counts</name>
        <label>Assign Asset Study Success Counts</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>AssetSuccessfulStudyCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Asset__r.Successful_Studies__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetUnsuccessfulStudyCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Asset__r.Failed_Studies__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Study_Success_Tally_for_Pod</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Asset count variables in the flow to corresponding count on the Asset Object</description>
        <name>Assign_Asset_Study_Success_Counts_2</name>
        <label>Assign Asset Study Success Counts 2</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>AssetSuccessfulStudyCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Asset__r.Successful_Studies__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetUnsuccessfulStudyCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Asset__r.Failed_Studies__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Study_Success_Tally_for_Pod_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Study_New_Data_Uploaded_or_Completed</name>
        <label>Decision: Study = New, Data Uploaded or Completed?</label>
        <locationX>1106</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asset_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Asset__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pod_In_Field</targetReference>
            </connector>
            <label>Asset Assigned</label>
        </rules>
        <rules>
            <name>Pod_Received_and_Data_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Data_Upload_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pod_Huxley</targetReference>
            </connector>
            <label>Pod Received and Data Uploaded</label>
        </rules>
        <rules>
            <name>Study_Success_Decision_Made</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Study_Success_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Asset_Study_Success_Counts</targetReference>
            </connector>
            <label>Study Success Decision Made</label>
        </rules>
    </decisions>
    <decisions>
        <description>Increment the appropriate study count by 1</description>
        <name>Increment_Study_Success_Tally_for_Pod</name>
        <label>Increment Study Success Tally for Pod</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Successful_Study</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Study_Success_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Successful_Studies</targetReference>
            </connector>
            <label>Successful Study</label>
        </rules>
        <rules>
            <name>Unsuccessful_Study</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Study_Success_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unsuccessful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Unsuccessful_Studies</targetReference>
            </connector>
            <label>Unsuccessful Study</label>
        </rules>
    </decisions>
    <decisions>
        <description>Increment the appropriate study count by 1</description>
        <name>Increment_Study_Success_Tally_for_Pod_2</name>
        <label>Increment Study Success Tally for Pod 2</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Successful_Study_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Study_Success_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Successful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Successful_Studies_2</targetReference>
            </connector>
            <label>Successful Study 2</label>
        </rules>
        <rules>
            <name>Unsuccessful_Study_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Study_Success_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unsuccessful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Unsuccessful_Studies_2</targetReference>
            </connector>
            <label>Unsuccessful Study 2</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the study success status has also changed</description>
        <name>Is_Study_Success_Decision_Also_Made</name>
        <label>Is Study Success Decision Also Made?</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Study_Success_Decision_Made_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Study_Success_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Asset_Study_Success_Counts_2</targetReference>
            </connector>
            <label>Study Success Decision Made?</label>
        </rules>
    </decisions>
    <description>Changing trigger to just be if the Study Success Status is changed because if the trigger is complete the flow does not execute because the study status change to complete is also done using a flow and since this flow and that flow are running concurrently, it seems to be causing issues</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>IncrementNumberofUses</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!AssetNumberofUses}), 1, {!AssetNumberofUses} + 1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>IncrementSuccessfulStudyCount</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!AssetSuccessfulStudyCount}), 1, {!AssetSuccessfulStudyCount} + 1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>IncrementUnsuccessfulStudyCount</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!AssetUnsuccessfulStudyCount}), 1, {!AssetUnsuccessfulStudyCount} + 1)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>(Study) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(Study) Update Asset Location</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Increment_Number_of_Uses</name>
        <label>Increment Number of Uses</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Is_Study_Success_Decision_Also_Made</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Asset__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Uses__c</field>
            <value>
                <elementReference>IncrementNumberofUses</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Increment_Successful_Studies</name>
        <label>Increment Successful Studies</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Asset__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Successful_Studies__c</field>
            <value>
                <elementReference>IncrementSuccessfulStudyCount</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Increment_Successful_Studies_2</name>
        <label>Increment Successful Studies 2</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Asset__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Successful_Studies__c</field>
            <value>
                <elementReference>IncrementSuccessfulStudyCount</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Increment_Unsuccessful_Studies</name>
        <label>Increment Unsuccessful Studies</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Asset__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Failed_Studies__c</field>
            <value>
                <elementReference>IncrementUnsuccessfulStudyCount</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Increment_Unsuccessful_Studies_2</name>
        <label>Increment Unsuccessful Studies 2</label>
        <locationX>578</locationX>
        <locationY>1079</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Asset__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Failed_Studies__c</field>
            <value>
                <elementReference>IncrementUnsuccessfulStudyCount</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pod_Huxley</name>
        <label>Update Pod = Huxley</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Assign_Asset_Number_of_Uses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Asset__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Asset_Location__c</field>
            <value>
                <stringValue>Huxley</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pod_In_Field</name>
        <label>Update Pod = In Field</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Asset__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Asset_Location__c</field>
            <value>
                <stringValue>Field</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Study_New_Data_Uploaded_or_Completed</targetReference>
        </connector>
        <filterFormula>AND(NOT(ISBLANK({!$Record.Asset__c})),
OR(ISCHANGED({!$Record.Asset__c}), ISNULL({!$Record__Prior.Data_Upload_Date__c}) &amp;&amp; ISCHANGED({!$Record.Data_Upload_Date__c}),
ISBLANK(TEXT({!$Record__Prior.Study_Success_Status__c})) &amp;&amp; ISCHANGED({!$Record.Study_Success_Status__c})
)
)</filterFormula>
        <object>Study__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AssetNumberofUses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>AssetSuccessfulStudyCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>AssetUnsuccessfulStudyCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
