sandbox-codebase/flows/Study_Ship_Confirmation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <description>Used in Mogli SMS Automation to send the patient their shipment tracking information.
https://basecamp.com/2583453/projects/19794483/todos/515660831
Add Logic For Non-Traditional Provider Account SMS Protocol and Patient Do Not Send Automated SMS
https://basecamp.com/2583453/projects/19794483/todos/514550599</description>
    <environments>Default</environments>
    <interviewLabel>(Study) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(Study) Ship Confirmation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Mogli Message record and includes the Mogli Template and Question Template Id (for Mogli Form Templates)</description>
        <name>Create_Mogli_Message</name>
        <label>Create Mogli Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Mogli_SMS__Contact__c</field>
            <value>
                <elementReference>$Record.Patient__r.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__Direction__c</field>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__Gateway__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__Message__c</field>
            <value>
                <elementReference>Get_Mogli_Question.Mogli_SMS__Message_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__Mogli_Template__c</field>
            <value>
                <elementReference>Get_Mogli_Question.Mogli_SMS__FormTemplate__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__Phone_Number__c</field>
            <value>
                <elementReference>$Record.Mogli_Number_from_Person__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__QuestionTemplateId__c</field>
            <value>
                <elementReference>Get_Mogli_Question.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mogli_SMS__Status__c</field>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Study__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Mogli_SMS__SMS__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Mogli_Question</name>
        <label>Get Mogli Question</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Mogli_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outbound Shipping Message</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Mogli_SMS__QuestionTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Mogli_Question</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Packaged_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Outbound_Tracking__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Patient_No_Automated_SMS__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Send_Ship_Confirmation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Study__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
