sandbox-codebase/flows/Update_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Pending_Portal_Requests_Action_1</name>
        <label>Create Pending Portal Requests Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PendingPortalRequestService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>endpoint</name>
            <value>
                <stringValue>callout:Portal_NC/address</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idempotencyKey</name>
            <value>
                <elementReference>frmIdempotencyKey</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>payload</name>
            <value>
                <elementReference>Portal_Address_Update_Queue</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PendingPortalRequestService</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>frmIdempotencyKey</name>
        <dataType>String</dataType>
        <expression>{!recordId} + &apos;-UpdateAddress&apos;</expression>
    </formulas>
    <interviewLabel>Update Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Update_Address</name>
        <label>Update Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Create_Pending_Portal_Requests_Action_1</targetReference>
        </connector>
        <fields>
            <name>Current_Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Current Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Get_Account_Record.ShippingStreet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Get_Account_Record.ShippingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Get_Account_Record.ShippingStateCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>provinceCode</name>
                <value>
                    <elementReference>Get_Account_Record.ShippingStateCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Get_Account_Record.ShippingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Get_Account_Record.ShippingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>countryCode</name>
                <value>
                    <elementReference>Get_Account_Record.ShippingCountryCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Address_Update</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>countryCode</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputCountryOptions</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <stringValue>United States</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Portal_Address_Update_Queue</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
  &quot;sf_id&quot;: &quot;{!recordId}&quot;,
  &quot;address_1&quot;: &quot;{!Address_Update.street}&quot;,
  &quot;city&quot;: &quot;{!Address_Update.city}&quot;,
  &quot;state&quot;: &quot;{!Address_Update.provinceCode}&quot;,
  &quot;zip&quot;: &quot;{!Address_Update.postalCode}&quot;
}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
