sandbox-codebase/flows/Update_Study_with_Shipment_Information.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <description>Checks what type of shipment has been created or updated (outbound or return)</description>
        <name>Type_of_Shipment</name>
        <label>Type of Shipment</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.zkmulti__Shipment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Study_Outbound_Shipment_Info</targetReference>
            </connector>
            <label>Outbound</label>
        </rules>
        <rules>
            <name>Return</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.zkmulti__Shipment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Study_Return_Shipment_Info</targetReference>
            </connector>
            <label>Return</label>
        </rules>
    </decisions>
    <description>Updated entry conditions to reduce the number of times the flow runs</description>
    <environments>Default</environments>
    <interviewLabel>Update Study with Shipment Information {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Study with Shipment Information</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Updates the study fields with the info from the shipment object</description>
        <name>Update_Study_Outbound_Shipment_Info</name>
        <label>Update Study Outbound Shipment Info</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Expected_Delivery_Date_Outbound__c</field>
            <value>
                <elementReference>$Record.zkmulti__Delivery_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outbound_Tracking_Stage__c</field>
            <value>
                <elementReference>$Record.zkmulti__Tracking_Stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outbound_Tracking__c</field>
            <value>
                <elementReference>$Record.zkmulti__Tracking_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Study__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the study fields with the info from the shipment object</description>
        <name>Update_Study_Return_Shipment_Info</name>
        <label>Update Study Return Shipment Info</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Expected_Delivery_Date_Return__c</field>
            <value>
                <elementReference>$Record.zkmulti__Delivery_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_Tracking_Stage__c</field>
            <value>
                <elementReference>$Record.zkmulti__Tracking_Stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_Tracking__c</field>
            <value>
                <elementReference>$Record.zkmulti__Tracking_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Study__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Type_of_Shipment</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>zkmulti__Tracking_Number__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>zkmulti__Tracking_Stage__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>zkmulti__Delivery_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>zkmulti__MCShipment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
